#birthday_dialog {
    background-image: url(../assets/birthday_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 4vw;
    outline: none;
}

#birthday_dialog h2 {
    margin-bottom: 0;
}

#birthday_dialog p {
    max-width: 90vw;
    font-size: 1.5rem;
    margin-top: 0;
}