<dialog class="dialog" id="login-dialog">
    <form action="./php/authorization.php" method="post">
        <div class="form-header">
            <p>Вход или регистрация</p>
        </div>
        <div class="form-inputs">
            <input name="email" type="email" placeholder="email" id="login_email">
            <input name="password" type="password" placeholder="пароль" id="login_password">
            <button type="submit" id="login_button">Войти</button>
            <div class="registration-link">
                Еще не зарегистрированы? <a href="">Регистрация</a>
            </div>
        </div>
    </form>
</dialog>