<dialog class="dialog" id="register-dialog">
    <form action="">
        <div class="form-header">
            <p>Регистрация пользователя</p>
        </div>
        <div class="form-inputs">
            <input name="userName" type="text" placeholder="Ваше имя" id="registration_user_name">
            <input name="birthDate" type="date" placeholder="Дата рождения" id="registration_birth_date">
            <input name="email" type="email" placeholder="email" id="registration_email">
            <input name="password" type="password" placeholder="пароль" id="registration_password">
            <button type="submit" id="registration_button">Зарегистрироваться</button>
        </div>
    </form>
</dialog>